html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #141414;
    row-gap: 30px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.outbox {
    width: fit-content;
    border-radius: 20px;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.imagebox {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
}

img {
    width: 10vw;
    border-radius: 100%;
    object-fit: contain;
    object-position: center;
}

.information {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    color: white;
}

#p1 {
    color: #b9cf71;
    font-weight: bolder;
}

p {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin-bottom: 20px;

}

.slinks {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 110%;

}

button {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    background-color: #333333;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    border: 0px;

}

button:hover {
    background-color: #c4f82a;
    color: black;

}

.attribution{
    color: white;
    font-size: 10px;
    font-family: "Inter", sans-serif;

}

a:link{
    color: #b9cf71;
}

